numpy>=1.23.0,<1.25.0
pandas>=1.5.0
matplotlib>=3.5.0
scikit-learn>=1.1.0
tensorflow==2.11.0
shap>=0.42.1
seaborn>=0.11.2
statsmodels>=0.13.0
tqdm>=4.64.0
joblib>=1.1.0
fastapi>=0.68.0
uvicorn>=0.15.0
requests>=2.25.0 